
<html>
<head>
   	<link href="/public/css/main.css" rel="stylesheet" type="text/css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>

</head>
    
<body>
 
	<header>
	    <a class="menu" href="/">Home</a>
    	
    	
        <% if (locals.user) { %>
            <p>|</p>
        	<a class="menu" href="/profile">Profile</a>
        	<p>|</p>
        	
    	    <a class="menu" href="/logout">Logout</a>
    	    
    	<% } %>

    </header>
    <h1 class="title"><%= question %></h1>

    
    
<% if (locals.votes) { %>
    <div class="canvas-container">
        <canvas id="pollChart" width="400" height="400"></canvas>
        
    </div>
    

    <% var hasVotes = [] %>

    <ul>
         <% (locals.votes).forEach(function(vote) { %>
            <li><%= options[vote.idx] %>: <%= vote.count %></li>
            <% hasVotes.push(vote.idx) %>
        <% }); %>
        
        <% options.forEach(function (option, i) { %>
            <% if (hasVotes.indexOf(i) === -1) { %>
                <li><%= options[i] %>: 0</li>
            <% } %>
        <% }) %>
    </ul>
   
    
<% } %>


<% var url = "polls/" + pollId %>
<div class="hidden" data-id="<%= url %>"></div>

    
    <form class="poll-choices" method="post" action="">
        <% options.forEach(function(option, idx) { %>
            <label for="<% option %>"><%= option %></label>
            <input name="choice" type="radio" id="<% option %>" value="<%=[option, idx] %>"><br>
        
            
           
        <% }); %>
        <br>
        <input type="submit" value="Vote">
    </form>
    
    <% if (locals.user) { %>
        
    <form method="post" action=''>
        <input type="hidden" name="_method" value="PUT">
        <label for="add-option">Add Option</label>
        <input name="add-option" id="add-option" type="text">
        
        <input type="submit">
    
    </form>
    
    <% } %>
    
</body>
<script type="text/javascript" src="/common/ajax-functions.js"></script>
<script type="text/javascript" src="/controllers/pollChart.client.js"></script>

</html>
    
    

  




